# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [1]:
import pandas as pd
import numpy as np

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [2]:
series_obj = Series(np.arange(8), index=['alo 1', 'alo 2', 'alo 3', 'alo 4', 'alo 5', 'alo 6', 'alo 7', 'alo 8'])
series_obj

alo 1    0
alo 2    1
alo 3    2
alo 4    3
alo 5    4
alo 6    5
alo 7    6
alo 8    7
dtype: int64

In [3]:
series_obj['alo 7']

6

In [4]:
series_obj.iloc[5]

5

In [5]:
series_obj.loc['alo 4']

3

In [6]:
series_obj[2:7]

alo 3    2
alo 4    3
alo 5    4
alo 6    5
alo 7    6
dtype: int64

In [7]:
series_obj[[1, 4, 7]]

alo 2    1
alo 5    4
alo 8    7
dtype: int64

In [8]:
series_obj.iloc[2:7]

alo 3    2
alo 4    3
alo 5    4
alo 6    5
alo 7    6
dtype: int64

In [24]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2', 'row 3', 'row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [10]:
DF_obj.iloc[[ 1, 4], [4, 1]]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

In [11]:
DF_obj.loc[['row 2', 'row 5'], ['column 5', 'column 2']]

       column 5  column 2
row 2  0.402366  0.437611
row 5  0.421004  0.559053

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [15]:
series_obj['alo 3': 'alo 7']

alo 3    2
alo 4    3
alo 5    4
alo 6    5
alo 7    6
dtype: int64

In [14]:
DF_obj.iloc[2:5, 1:-1]

       column 2  column 3  column 4  column 5
row 3  0.585445  0.161985  0.520719  0.326051
row 4  0.836375  0.481343  0.516502  0.383048
row 5  0.559053  0.034450  0.719930  0.421004

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [23]:
DF_obj < .2

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False     False     False      True      True
row 2      True     False     False     False      True     False
row 3     False     False      True      True     False     False
row 4     False     False     False      True     False     False
row 5     False     False      True     False     False      True
row 6     False      True      True     False     False     False

In [16]:
DF_obj > .3

       column 1  column 2  column 3  column 4  column 5  column 6
row 1      True      True     False     False      True     False
row 2      True      True      True      True      True     False
row 3      True      True     False      True      True      True
row 4      True      True      True      True      True      True
row 5      True      True     False      True      True      True
row 6     False      True      True      True     False      True

### Filtering with scalars

In [18]:
series_obj[series_obj > 4]

alo 6    5
alo 7    6
alo 8    7
dtype: int64

In [19]:
series_obj[series_obj > 2]

alo 4    3
alo 5    4
alo 6    5
alo 7    6
alo 8    7
dtype: int64

In [28]:
DF_obj[DF_obj > .6]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1       1.0       1.0       NaN       NaN       NaN       NaN
row 2       1.0       NaN       1.0       NaN       NaN       NaN
row 3       NaN       1.0       NaN       1.0       NaN       1.0
row 4       NaN       1.0       NaN       1.0       NaN       1.0
row 5       1.0       1.0       NaN       1.0       NaN       NaN
row 6       NaN       1.0       1.0       NaN       NaN       1.0

### Setting values with scalars

In [27]:
series_obj['alo 1', 'alo 5', 'alo 8'] = 8
series_obj

alo 1    8
alo 2    1
alo 3    2
alo 4    3
alo 5    8
alo 6    5
alo 7    6
alo 8    8
dtype: int64

In [30]:
DF_obj[DF_obj > .5] = 2
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  2.000000  2.000000  0.278839  0.185911  0.411100  0.117376
row 2  2.000000  0.437611  2.000000  0.367080  0.402366  0.113041
row 3  0.447031  2.000000  0.161985  2.000000  0.326051  2.000000
row 4  0.366395  2.000000  0.481343  2.000000  0.383048  2.000000
row 5  2.000000  2.000000  0.034450  2.000000  0.421004  0.436935
row 6  0.281701  2.000000  2.000000  0.456069  0.289804  2.000000

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.

In [31]:
DF_obj.iloc[2:5, 1:-1] = 8
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  2.000000  2.000000  0.278839  0.185911  0.411100  0.117376
row 2  2.000000  0.437611  2.000000  0.367080  0.402366  0.113041
row 3  0.447031  8.000000  8.000000  8.000000  8.000000  2.000000
row 4  0.366395  8.000000  8.000000  8.000000  8.000000  2.000000
row 5  2.000000  8.000000  8.000000  8.000000  8.000000  0.436935
row 6  0.281701  2.000000  2.000000  0.456069  0.289804  2.000000